<div class="container">
    <h2>My name is Cheuk Hang Ng. You can call me Anson. I am from Hong Kong. </h2>
    <p>I have a bachelor degree in Collision repair and Insurance Management during the time I lived in the United States for about 7 years </p>
    <p>Currently living in Ontario GTA area leaving programming in Centennial College. The journey continues!</p>
    <embed src="./Assets/resume.pdf" width="800px" height="2100px" />
    <img src="./Assets/images/me.jpg" alt="">
    
    
</div>
    

