<div class="container">
    <h1>Hello!</h1>
    <p>Welcome to my website! My name is Anson Ng.</p>
    <p>I am a car enthusiast, collision repair estimator, automotive painter and know a little bit programming.</p> 
    <p>I hope you can learn something about me in this website!</p>
    <img src="./Assets/images/homepage.jpg">
</div>
    

