<div class="container">
    <h1>Project</h1>
    <h2>Pittburg State University BAJA promotion video</h2>
    <h3>I was in SAE Baja team in Pittsburg State University as a mechanic. I filmed and edited this video for my team! It was a fun project to make</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4cndWsbRuS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>Software Requirements Project</h1>
    <h3>Software requirement project that my classmate created. We learn about teamwork and the importance of making step to design software. We got A+ from this project</h3>
    <img src="./Assets/images/SFRproject.png">
    <h1>BMI calculate (WIP)</h1>
    <img src="./Assets/images/BMIProject.png" width="600">
</div>
    

