<div class="container">
    <h1>Service Offer</h1>
    <ul>
      <li>Auto body estimate</li>
      <li>Vehicle maintenance or minor repair</li>
      <li>Light auto body repair</li>
      <li>Web development</li>
      <li>Video editing</li>
      <li>photography</li>
      <img src="car.jpg" width="800">
    </ul>
  <p></p>
</div>
    

