<div class="container">
    <form action="mailto:E-mail:cng129@my.centennialcollege.ca method='post'">
        <label>First name:</label>
      <input name="firstName" size="7" tabindex="1" type="text" required="required" type=text><br>
        <label>Last name:</label>
      <input name="lastName" size="7" tabindex="2" type="text" required="required" type=text><br>
      <label>Phone Number:</label>
      <input name="phoneNumber" size="11" tabindex="3" type="number" ><br>
      <label>E-mail</label>
      <input name="email" size="20" tabindex="4" type="email" ><br>
      
      <label>Additional comment:</label><br>
      <textarea cols="50" name="txtSpecialRequests" rows="7" tabindex="10"></textarea><br>
      <input name="btnSubmit" tabindex="11" type="submit" value="Submit">
      <input name="btnReset" tabindex="12" type="reset" value="Clear Form">
      </form>
</div>
    

